body{
    margin: 0;
    padding: 0;
    background-color: yellow;
}
.head{
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 20px;
}
.box{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: yellow;
    align-items: center;
    justify-content: center;
}
.box1{
    padding: 5px 5px;
    width: 310px;
    background: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.read-more {
    color: blue;
}
@media screen and (max-width: 1000px) {
    .box{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .box{
        grid-template-columns: repeat(1, 1fr);
    }
}